{{ define "main" }}

<main>
    <div class="block introduction">

        <div class="column left">
            <img src="{{ default "images/portrait.jpg" .Site.Author.portrait | relURL }}" class="portrait" alt="Portrait" />
        </div>

        <div class="column right">
            <h1>{{ .Site.Author.name }}</h1>
            <h2>{{ .Site.Author.title }}</h2>
            <p>{{ .Content }}</p>

            <div class="links">
                {{- range .Site.Params.links -}}
                    <a rel="me" href="{{ .url | safeURL }}" title="{{ .title }}">
                        <span class="{{ .iconset | default "fab" }} {{.iconorigin | default "fa" }}-{{ .icon }}"></span>
                    </a>
                {{- end -}}
            </div>

        </div>
    </div>
</main>

{{ end }}
